<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>stripes.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>3</integer>
		</dict>
		<key>stripes_control.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>6</integer>
		</dict>
		<key>stripes_ep4 copy.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>29</integer>
		</dict>
		<key>stripes_ep4.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>27</integer>
		</dict>
		<key>stripes_ep4_fixed.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>28</integer>
		</dict>
		<key>stripes_ep4_flipped.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>30</integer>
		</dict>
		<key>stripes_epi.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>32</integer>
		</dict>
		<key>stripes_epi_control.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>34</integer>
		</dict>
		<key>stripes_epi_two_color_control.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>35</integer>
		</dict>
		<key>stripes_evo_ps.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>15</integer>
		</dict>
		<key>stripes_evo_ps_plane.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>19</integer>
		</dict>
		<key>stripes_location.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>9</integer>
		</dict>
		<key>stripes_multi.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>13</integer>
		</dict>
		<key>stripes_multi_evo.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>31</integer>
		</dict>
		<key>stripes_multi_fps.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>24</integer>
		</dict>
		<key>stripes_multi_fps_3.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>25</integer>
		</dict>
		<key>stripes_multi_matrix.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>26</integer>
		</dict>
		<key>stripes_multi_square.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>36</integer>
		</dict>
		<key>stripes_three.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>33</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>3E068002178B2D99003AD69F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>3E1DA779162D850400AA622A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>3E22CF3F161E276300EB4D27</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>3E2D2BAF17A699F90069C966</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>3E55AAC8166BC8BD0097A0E5</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>3E55ED36174654C500735172</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>3E5DDA6016AF1A130002AF3E</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>3E667D7917ABE01100A42924</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>3E77045917E72A9700A2323F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>3EA3EEBD16A984FA00EDE84B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>3EB3CADF15E7097500B82B07</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>3EB67EFB16FB203E00111A41</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>3EB67F0C16FB208A00111A41</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>3EF08D84174CE516007852C8</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>42441A8A15861724009863BE</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>480052B619EA18460063B13B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>480FEBD01CE61C5500ECABDD</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>482085BE1CCA7AA000406273</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>482C04A91D8B04D7001D67C2</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>482F01371CC42EF900C88BD8</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>482F01431CC5245000C88BD8</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>484529A81D8A26F700062B6A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>484529B21D8A271A00062B6A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>48460678192D1DFC005579F9</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>48460689192D1FFE005579F9</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>48542FAF19E0DE900030F097</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>486CA9A41CD923ED003A113C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>486CA9B11CDCE53E003A113C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>48B25FCC1D91963000FDD03B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>48CA8E9D1CD3D25A004BDB7E</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>48D17AE81D902533000F00AB</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>48DEB45419376501002F8846</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>48E554AA1D80ABB3003D52DE</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>48EBE81A1D898724003A9019</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>48FF4C8419379E17001F0183</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
